body {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    font-family: 'Gemunu Libre', sans-serif;
}

ul {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
}

.navigatiob32738273778273 {
    background-color: rgb(163, 97, 59);
    color: black;
    text-align: center;
    font-size: 1.2rem;
}

li {
    padding: 8px;
    border-bottom: 1px solid black;
}

li:hover {
    padding: 6px;
    background-color: rgb(121, 44, 0);
}

.bannerBnanerBANNERImgae {
    background-image: url(indexs/banner-1989514_1280.png);
    padding: 150px 0;
    background-size: cover;
}

h2 {
    text-align: center;
    color: rgb(102, 32, 0);
    font-size: 50.5px;
}

.navigatiobBUTIntrooooo0o0o0o0o0o0o0 {
    text-align: center;
    color:rgb(114, 69, 41);
    font-size: 1.5rem;
}

.burger {
    text-align: center;
    margin: 32px;
}

img {
    text-align: center;
}

@media screen and (min-width: 700px) {
    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid black;
    }

    .burger {
        width: 50%;
        display: inline-flex;
        margin-left: 25%;
        vertical-align: top;
    }

    .navigatiobGame_1 {
        margin-right: 10%;
        margin-left: -5%;
    }

    .navigatiobGame_2 {
        margin-right: 10%;
    }
}